@import "tailwindcss";
@import './styles/font.css';
@plugin '../hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: #090a1a;
  --color-surface: #11132B;
  --color-elevated: #292d52;
  --color-primary: #8b5cf6;
  --color-primary-hover: #7c3aed;
  --color-secondary: #22d3ee;
  --color-text-primary: #f5f3ff;
  --color-text-secondary: #a5a7c0;
  --color-success: #22c55e;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: var(--color-background);
  min-height: 100vh;
}